
/* Inclut le remplissage et la bordure dans la largeur et la hauteur totales d'un élément */
* {
    box-sizing: border-box;
  }
  
  /* Supprimer les marges et le remplissage de la liste */
ul {
    margin: 0;
    padding: 0;
  }

  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    font-size: 18px;
    transition: 0.2s;
  
/* rend les éléments de la liste non sélectionnables */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Définissez tous les éléments de la liste impaire sur une couleur différente (rayures zébrées) */
ul li:nth-child(odd) {
    background: #f9f9f9;
  }

  /* Couleur d'arrière-plan plus foncée au survol */
ul li:hover {
    background: #fbdcf3;
  }

  /* Lorsque vous cliquez dessus, ajoutez une couleur d'arrière-plan et rayez le texte */
  ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }

  /* Ajouter une marque "cochée" lorsque vous cliquez sur */
  ul li.checked::before {
    content: '';
    border-color: #fff;
    border-style: solid;
    position: absolute;
    border-width: 0 2px 2px 0; 
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

  /* Style du bouton de fermeture */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  .close:hover {
    background-color: #f44336;
    color: white;
  }

  /* Style the header */
.header {
    background-color: #f8b8e8;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }

  /* Effacer les flotteurs après l'en-tête */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Style the input */
input {
    margin: 0;
    border: none;
    border-radius: 50px;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }

  /* Style du bouton "Ajouter" */
.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 20px;
  }